@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col text-center">
        <p>İlgili sayfaya erişiminiz bulunmamaktadır.</p>
        <div class="text-center">
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to home page</a>
        </div>
    </div>
</div>