@model LoginViewModel

<div class="row">
    <div class="col-4 offset-4">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="UserName" class="form-label">Username</label>
                <input asp-for="UserName" class="form-control" placeholder="johndoe" />
                <span asp-validation-for="UserName" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" placeholder="password" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-primary d-block">Login</button>
            </div>
        </form>
    </div>
</div>